__pycache__
.ipynb_checkpoints
Corentin-Herbinet-Using-Machine-Learning-techniques-to-predict-the-outcome-of-profressional-football-matches.pdf
sandbox.ipynb
testing_requests.py
.DS_Store
merged_data.json
